<mat-toolbar color="primary">Account Service</mat-toolbar>

<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Choose Request Destination</mat-label>
    <mat-select [(ngModel)]="selectedDestination" required>
      <mat-option value="dbDestination">Database Service</mat-option>
      <mat-option value="priceDestination">Price Service</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Choose Request</mat-label>
    <mat-select [(ngModel)]="requestName">
      <mat-option value="">Get Request</mat-option>
      <mat-option value="balance">Balance</mat-option>
      <mat-option value="customer-name">Customer Name</mat-option>
      <mat-option value="account-worth">Account Worth</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-raised-button (click)="sendRequest()">Send Request</button>
</mat-card>

<mat-card>
  <h3>Output</h3>
  <div *ngFor="let log of consoleOutput">
    <pre *ngIf="log.type === 'error'" style="color: red">{{ log.message }}</pre>
    <pre *ngIf="log.type === 'success'">{{ log.message }}</pre>
    <pre *ngIf="log.type === 'info'" style="color: grey">{{ log.message }}</pre>
  </div>
</mat-card>
