<mat-toolbar color="primary">Account Service</mat-toolbar>

<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Choose Request Destiniation</mat-label>
    <mat-select [(ngModel)]="selectedDestination" (change)="sendRequest()">
      <mat-option [value]="dbDestination">Database Service</mat-option>
      <mat-option [value]="priceDestination">Price Service</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Choose Request</mat-label>
    <mat-select [(ngModel)]="requestName">
      <mat-option [value]="getResponse">Get Request</mat-option>
      <mat-option [value]="getBalance">Balance</mat-option>
      <mat-option [value]="getCustomerName">Customer Name</mat-option>
      <mat-option [value]="getAccountWorth">Account Worth</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="sendRequest()">Send Request</button>
  <br><br>
  <p>Result: {{result | json}}</p>
</mat-card>